@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 12%;

    --muted: 216 55% 94%;
    --muted-foreground: 160 2% 27%;

    --popover: 216 55% 94%;
    --popover-foreground: 0 0% 12%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 216 55% 98%;
    --card-foreground: 0 0% 12%;

    --primary: 216 89% 42%;
    --primary-foreground: 0 0% 100%;

    --secondary: 201 100% 30%;
    --secondary-foreground: 0 0% 12%;

    --accent: 203 100% 88%;
    --accent-foreground: 207 100% 10%;

    --destructive: 3 71% 40%;
    --destructive-foreground: 0 0% 100%;

    --success: 135 100% 21%;
    --success-foreground: 0 0% 100%;

    --caution: 60 73% 67%;
    --caution-foreground: 0 0 12%;

    --default: 202 88% 27%;
    --default-foreground: 0 0% 100%;

    --info: 263 65% 92%;
    --info-foreground: 257 12% 33%;

    --ring: 215 20.2% 65.1%;

    --radius: 1.25rem;
  }

  .dark {
    --background: 0 0% 12%;
    --foreground: 0 0% 89%;

    --muted: 210 4% 18%;
    --muted-foreground: 140 2% 77%;

    --popover: 210 4% 18%;
    --popover-foreground: 0 0% 89%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 210 2% 16%;
    --card-foreground: 0 0% 89%;

    --primary: 217 89% 81%;
    --primary-foreground: 217 89% 22%;

    --secondary: 202 100% 74%;
    --secondary-foreground: 204 100% 16%;

    --accent: 202 100% 23%;
    --accent-foreground: 203 100% 88%;

    --destructive: 2 70% 82%;
    --destructive-foreground: 3 71% 21%;

    --success: 117 56% 68%;
    --success-foreground: 109 70% 13%;

    --caution: 60 58% 72%;
    --caution-foreground: 52 100% 13%;

    --default: 192 70% 82%;
    --default-foreground: 202 83% 17%;

    --info: 258 13% 31%;
    --info-foreground: 213 32% 85%;

    --ring: 216 34% 17%;

    --radius: 1.25rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .cardContainer {
    @apply flex flex-col justify-center items-center rounded-2xl w-[calc(100%-1rem)] max-h-fit h-auto p-4 bg-card;
  }
  .cardsPageContainer {
    @apply w-full flex flex-col items-center px-4 h-full;
  }
  .title {
    @apply text-2xl lg:text-3xl font-medium;
  }
  .subtitle {
    @apply text-lg lg:text-xl font-medium pb-2;
  }
  .icon-button {
    @apply w-4 h-4 mr-2;
  }
}
